body {
    font-size: 1.02rem;
    background-color: #f2f3f7;
}
.custom-h3 {
    padding-top: 10px;
}
.custom-h1-title {
    text-align: left;
    margin-bottom: 0.1rem;
    font-size: 30px;
}
.content {
    margin-top: 20px;
}
.custom-container {
    height: 800px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.custom-select{
    width: 100%;
}
.error {
    color:#ff0000;
    padding-bottom: 5px;
    padding-top: 5px;
}
.invalid-feedback {
    display:block;
    padding-bottom: 5px;
}
.vs__clear{
    margin-top: -4px;
}
.router-link-active {
    color:#fff !important;
}
.modal{
    pointer-events: none;
}
.modal-dialog{
    pointer-events: all;
}
.row-buttons {
    padding-bottom: 20px;
}
#filter_assigned_users {
    min-width: 203px;
}
#filter_assigned_users .vs__dropdown-toggle {
    height: 37.5px;
    margin-right: 3px;
}
.dropdown-item {
    text-align: right;
}
.invalid-feedback {
    color:#ff0000;
}
.btn-left {
    margin-right: 3px;
}
.add-task-notification, .update-task-notification {
    font-size: 13px;
    padding: 9.7px;
    margin-top: 77.2px;
    margin-right: 35.4px;
    margin-left: 24px;
    border-radius: 2.5px;
    color: #fff;
    background-color: #5a7fbf !important;
    border-left: 5px solid #324f81 !important;
}
.delete-task-notification {
    font-size: 13px;
    padding: 9.7px;
    margin-top: 77.2px;
    margin-right: 35.4px;
    margin-left: 24px;
    border-radius: 2.5px;
    color: #fff;
    background: #e54d42 !important;
    border-left: 5px solid #b82e24 !important;
}
.vue-notification-group {
    width: 315px !important;
}
#file_csv {
    width: 250px; 
    line-height: 1 !important;
}

.custom-table {
    margin-top: 20px;
    min-height: 470px;
}
html {
    font-size: 16px !important;
    }
.col-2-width {
    flex: 0 0 50%;
    max-width: 190px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
/* .card-header {

} */
.navbar {
    font-size: 17.5px;
    border-radius: 2.5px;
    box-sizing: border-box;
}
.card-header {
    background-color: #fff;
    
}
.card {
    border: 1px solid #ebedf3;
    box-shadow: 1.2px 1.2px 1.6px 1.6px #ebedf3;
}

thead {
    border-color: initial !important;
}
.custom-dropdown-item {
    cursor: pointer;
    font-size: 14px !important;
}
#export_excel{
    padding-right: 26px;
}
#export_pdf{
    padding-right: 24.8px;
}

.modal-open {
    overflow: visible;
    padding-right: 0px !important;
}
.custom-card-body {
    padding-top: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
}
.default-message {
    padding-left: 0px;
}
.custom-content{
    padding-top: 5px;
}
.p-doughnut {
    font-size:20px; 
    color:#212529;
    padding-left:60px; 
    padding-top:8px;
}
.custom-map {
    height: 700px; width: 100%;
}

@media only screen and (max-width: 600px) {
    .p-doughnut-sm {
        font-size:20px; 
        color:#212529;
        padding-left:0px; 
        padding-top:8px;
    }
    .custom-add-task-sm {
        padding-bottom: 5px;
    }

    #filter_assigned_users {
        min-width: 205px;
}
    .custom-table-sm {
    
        width: 1000px;
        padding-left: 3px;
    }
    .custom-map {
        height: 400px; width: 100%;
    }
}
